- reguests (для надсилання запитів на https://maps.googleapis.com/maps/api/geocode/json для отримання геокординат даної адреси)
- folium (для створення мапи, створеня шарів до неї, а також додавання маркерів)
- time (функцію sleep для того щоб не перевищити доступну кількість запитів)
- defaultdict з класу collections для оптимізації коду
